.switch-box {
  position: fixed;
  bottom: 15px;
  right: 120px;
  z-index: 1020;
}
.switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1.5px solid #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch-box .slider::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 0;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 15px #2020203d;
  box-shadow: 0 0 15px #2020203d;
  background: #fff url(../../assets/icon/night.png);
  background-repeat: no-repeat;
  background-position: center;
}
.switch-box .slider.round {
  border-radius: 34px;
}
.switch-box .slider.round::before {
  border-radius: 50%;
}
.switch-box .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}
.switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-box input:checked + .slider {
  background-color: transparent;
  border: 1.5px solid #fd5f16;
}
.switch-box input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #fd5f16;
  box-shadow: 0 0 1px #fd5f16;
}
.switch-box input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
  background: #fff url(../../assets/icon/sunny.png);
  background-repeat: no-repeat;
  background-position: center;
}
.theme-dark {
  background: #1d1d1d !important;
  color: #fff;
}
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6 {
  color: #fff;
}
.theme-dark h3 {
  color: #fff;
}
.theme-dark h3 a {
  color: #fff !important;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.theme-dark h3 a:hover {
  color: #fd5f16 !important;
}
.theme-dark p {
  color: #fff;
}
.theme-dark .content h3 {
  color: #fff;
}
.theme-dark .content h3 a {
  color: #fff;
}
.theme-dark .content span {
  color: #fff;
}
.theme-dark .content .read-btn {
  color: #fff;
}
.theme-dark body {
  background: #1d1d1d;
  color: #fff;
}
.theme-dark .navbar-light .navbar-brand .logo-one {
  display: none;
}
.theme-dark .navbar-light .navbar-brand .logo-two {
  display: inline-block;
}
.theme-dark .main-nav {
  background-color: #252525;
}
.theme-dark .main-nav nav .navbar-nav .nav-item a {
  color: #fff;
}
.theme-dark .main-nav nav .navbar-nav .nav-item a i {
  color: #fff;
}
.theme-dark .main-nav nav .navbar-nav .nav-item a:hover {
  color: #fd5f16 !important;
}
.theme-dark .main-nav nav .navbar-nav .nav-item a.active {
  color: #fd5f16 !important;
}
.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu {
  background-color: #252525 !important;
}
.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  color: #fff !important;
}
.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #fd5f16 !important;
}
.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover {
  color: #fd5f16 !important;
}
.theme-dark .address-area .row {
  background-color: #252525;
}
.theme-dark .address-item i {
  background-color: #252525;
}
.theme-dark .address-item a {
  color: #fff;
}
.theme-dark .process-item .process-inner i {
  color: #fff;
}
.theme-dark .sorting-menu ul li {
  color: #fff;
}
.theme-dark .products-area {
  background-color: #252525;
}
.theme-dark .products-area .products-column {
  background-color: black;
}
.theme-dark .products-item {
  background-color: #0e0e0e;
}
.theme-dark .engineer-item .engineer-bottom {
  background-color: #0e0e0e;
}
.theme-dark .subscribe-area {
  background-color: #252525;
  -webkit-box-shadow: 0 0 20px 0 #252525;
  box-shadow: 0 0 20px 0 #252525;
}
.theme-dark .subscribe-area form .form-control {
  background-color: #0e0e0e;
  color: #fff;
}
.theme-dark .quality-area-four .quality-content .section-title h2 {
  color: #fff;
}
.theme-dark .contact-area .contact-left ul li {
  color: #fff;
}
.theme-dark .contact-area .contact-left ul li i {
  color: #fff;
}
.theme-dark .contact-area .contact-left ul li a {
  color: #fff;
}
.theme-dark .contact-area .contact-right .form-control {
  background-color: #0e0e0e;
  color: #fff;
}
.theme-dark
  .service-details-area
  .service-details-item
  .service-details-left
  h3::before,
.theme-dark
  .service-details-area
  .service-details-item
  .service-details-contact
  h3::before {
  background-color: #fd5f16;
}
.theme-dark
  .service-details-area
  .service-details-item
  .service-details-left
  ul
  li,
.theme-dark
  .service-details-area
  .service-details-item
  .service-details-contact
  ul
  li {
  color: #fff;
}
.theme-dark
  .service-details-area
  .service-details-item
  .service-details-left
  ul
  li
  i,
.theme-dark
  .service-details-area
  .service-details-item
  .service-details-contact
  ul
  li
  i {
  color: #fd5f16;
}
.theme-dark
  .service-details-area
  .service-details-item
  .service-details-left
  ul
  li
  a,
.theme-dark
  .service-details-area
  .service-details-item
  .service-details-contact
  ul
  li
  a {
  color: #fff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.theme-dark
  .service-details-area
  .service-details-item
  .service-details-left
  ul
  li
  a:hover,
.theme-dark
  .service-details-area
  .service-details-item
  .service-details-contact
  ul
  li
  a:hover {
  color: #fd5f16;
}
.theme-dark .blog-details-item .blog-details-nav ul li a {
  color: #fff;
}
.theme-dark .blog-details-item .blog-details-form .form-group .form-control {
  background-color: #0e0e0e;
  color: #fff;
}
.theme-dark .blog-details-item .blog-details-search .form-control {
  background-color: #252525;
  color: #fff;
}
.theme-dark .blog-details-item .blog-details-recent .blog-details-inner a {
  color: #fff;
}
.theme-dark
  .blog-details-item
  .blog-details-recent
  .blog-details-inner
  a:hover {
  color: #fd5f16;
}
.theme-dark .blog-details-item .blog-details-category ul li a {
  color: #fff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.theme-dark .blog-details-item .blog-details-category ul li a:hover {
  color: #fd5f16;
}
.theme-dark .blog-details-item .blog-details-tag ul li a {
  color: #fff;
  background-color: #252525;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.theme-dark .blog-details-item .blog-details-tag ul li a:hover {
  background-color: #fd5f16;
}
.theme-dark .cart-wrap .table tr td {
  color: #fff;
}
.theme-dark .cart-wrap .table tr td a {
  color: #fff;
}
.theme-dark .cart-wrap .table tr td a:hover {
  color: #fd5f16;
}
.theme-dark .cart-wrap .shop-back a {
  color: #fff;
}
.theme-dark .cart-wrap .shop-back a:hover {
  color: #fd5f16;
}
.theme-dark .cart-wrap .total-shopping h2 {
  color: #fff;
  border-color: #fff;
}
.theme-dark .cart-wrap .total-shopping h3 {
  color: #fff;
}
.theme-dark .cart-wrap .total-shopping a {
  color: #fff;
}
.theme-dark .checkout-item .checkout-one label {
  color: #fff;
}
.theme-dark .checkout-item .checkout-two .form-check span a {
  color: #fd5f16;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.theme-dark .checkout-item .checkout-two .form-check span a:hover {
  color: #fff;
}
.theme-dark .signup-item .form-group label,
.theme-dark .login-item .form-group label {
  color: #fff;
}
.theme-dark .signup-item span,
.theme-dark .login-item span {
  color: #fff;
}
.theme-dark .signup-item span a,
.theme-dark .login-item span a {
  color: #fd5f16;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.theme-dark .signup-item span a:hover,
.theme-dark .login-item span a:hover {
  color: #fff;
}
.theme-dark .faq-area .accordion a {
  color: #fff;
  border-color: #fff;
}
.theme-dark .faq-area .accordion a::after {
  color: #fff;
}
.theme-dark .coming-item .coming-wrap .coming-inner {
  background-color: #252525;
}
.theme-dark .coming-item .coming-wrap .coming-inner h3 {
  color: #fff;
}
