.products-top {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-top img {
  max-width: 100%;
  max-height: 100%;
}

.products-area {
  background-color: #f6f4f4;
}
.products-view {
  text-align: center;
}
.products-view a {
  display: inline-block;
  color: #ff8310;
  border: 1px solid #ff8310;
  font-weight: 600;
  font-size: 15px;
  padding: 12px 20px;
}
.products-view a:hover {
  background-color: #ff8310;
  color: #fff;
}
.products-item {
  margin-bottom: 30px;
  text-align: center;
  background-color: #fff;
  padding: 30px 25px 35px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.products-item:hover {
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
}
.products-item .products-top {
  padding-bottom: 25px;
  border-bottom: 1px solid #ff8310;
  margin-bottom: 20px;
}
.products-item h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}
.products-item span {
  display: block;
  font-weight: 600;
  font-size: 22px;
  color: #ff8310;
  margin-bottom: 14px;
}
.products-item .cmn-btn .banner-btn-left {
  margin-right: 0;
}
