.widgets-area .widget {
  background-color: #fff;
  padding: 25px 20px;
  margin-bottom: 0;
  position: relative;
}

.widgets-area .widget:after {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  content: "";
  height: 1px;
  background-color: #d8d8d8;
}

.widgets-area .widget .price_slider_wrapper {
  padding-top: 3px;
}

.widgets-area .widget .price_slider_wrapper:after {
  clear: both;
  display: block;
  content: "";
}

.widgets-area .widget .price_slider_wrapper .ui-widget-content {
  background-color: #000;
  border-radius: 0;
  height: 1px;
  cursor: pointer;
  margin-right: 15px;
}

.widgets-area .widget .price_slider_wrapper .ui-slider {
  margin: 5px 0 10px;
  position: relative;
  text-align: left;
}

.widgets-area .widget .ui-slider .ui-slider-range {
  background-color: #000;
  border-radius: 0;
  cursor: pointer;
}

.widgets-area .widget .ui-slider .ui-slider-handle {
  background-color: #000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 0;
  top: -7px;
}

.widgets-area .widget .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: #000;
  cursor: ew-resize;
  outline: 0;
  margin-left: -0.5em;
}

.widgets-area .widget .widget-layered-nav-list {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
}
.widgets-area .widget .cat-item {
  padding-left: 15px;
}
.widgets-area .widget .cat-item a {
  color: #000;
  cursor: pointer;
}
.widgets-area .widget .cat-item a:hover {
  color: #fd5f16;
}
.widgets-area .widget .cat-item a.active {
  color: #fd5f16;
  font-weight: bold;
}
/* Checkbox */
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkbox-label {
  position: relative;
  padding-left: 20px; /* Adjust label padding */
  cursor: pointer;
}

.custom-checkbox .checkbox-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 15px; /* Adjust checkbox size */
  height: 15px; /* Adjust checkbox size */
  border: 2px solid #000; /* Border color of the checkbox */
  background-color: transparent; /* Background color of the checkbox */
  border-radius: 4px; /* Adjust border-radius for rounded corners */
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-label:before {
  background-color: #fd5f16; /* Background color when checked */
}
.price-range-display {
  margin-top: 10px;
  font-size: 18px;
  color: #999;
}
.input-range__label-container {
  display: none;
}
.input-range__slider {
  background: #fd5f16;
  border: 1px solid #fd5f16;
}
.input-range__track--active {
  background: #fd5f16;
}
.filter-sidebar-visible {
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease-in-out;
}

.filter-sidebar-hidden {
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-in-out;
}
.overlap {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 9999;
}
.content-area .shop-toolbar {
  background-color: #fd5f16;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.content-area .shop-toolbar .products-found {
  display: flex;
  align-items: center;
}

.content-area .shop-toolbar .products-found strong {
  color: #000;
  font-weight: 600;
  padding-right: 5px;
}

.content-area .shop-toolbar .filter-mobile {
  display: none;
}

.content-area .shop-toolbar .shop-ordering {
  margin: 0;
}

.content-area .shop-toolbar .shop-ordering .current {
  min-width: 270px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  min-height: 33px;
  line-height: 33px;
  border: 1px solid #b8b8b8;
  background-color: #fff;
  padding: 0 25px 0 15px;
}

.content-area .shop-toolbar .shop-ordering .current:after {
  position: absolute;
  background-image: url("../../static/assets/products/down-arrow.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  content: "";
  display: inline-block;
  color: #000;
}

.content-area .shop-toolbar .shop-ordering .current ul {
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: top 0.5s;
  border: 1px solid #b8b8b8;
  background-color: #fff;
  padding: 10px 15px;
  color: #999;
  transform: scale(0);
  z-index: -999;
  line-height: 1.4;
  min-width: 100%;
}
.content-area .shop-toolbar .shop-ordering .current:hover > ul {
  transform: scale(1);
  z-index: 999;
}
.content-area .shop-toolbar .shop-ordering .current ul li a {
  color: #999;
  white-space: nowrap;
}
.content-area .shop-toolbar .shop-ordering .current ul li a.active {
  color: #000;
}
.content-area .shop-content {
  width: 100%;
}
.content-area .shop-content .shop-content-column {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px; /* Add a small margin between items */
  box-sizing: border-box;
}

.content-area .shop-content .shop-content-column li {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}
.content-area .shop-content .shop-content-column li:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.content-area .shop-content .shop-content-column .product-car {
  padding: 20px;
  border: 1px solid transparent;
}

.content-area .shop-content .shop-content-column li .product-inner {
  padding-bottom: 20px;
  border: 1px solid transparent;
  padding: 20px 20px 0;
  margin-bottom: 30px;
}

.content-area .shop-content .shop-content-column li .product-inner:hover,
.content-area .shop-content .shop-content-column .product-car:hover {
  border-color: #fd5f16;
}

.product-inner .product-details {
  position: relative;
}

.product-inner .product-details .product-price-box .price {
  font-size: 16px;
  color: #000;
  line-height: 1;
  display: block;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0;
}

.product-inner .product-details .product-price-box .price span {
  color: #f30;
  font-size: 18px;
  font-weight: 400;
}

.product-inner .product-details .product-price-box .price del span {
  color: #999;
  font-size: 14px;
}

.content-area
  .shop-content
  .shop-content-column
  li
  .product-inner
  .product-thumbnail {
  position: relative;
  margin-bottom: 12px;
}

.pagination .pagination-button {
  background: white;
  border: 0;
}

.pagination .pagination-button.active {
  background: #fd5f16;
}
.product-details-area {
  display: flex;
}
.entry-product-header {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 6px;
}
.entry-price {
  color: #000;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1;
}

.entry-price span {
  color: #f30;
  font-size: 18px;
  font-weight: 400;
}

.summary-meta p label {
  color: #000;
  padding-right: 5px;
  font-weight: 400;
  font-size: 16px;
}

.summary-meta p {
  color: #8bc500;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.notice {
  background-color: #ffffff;
  color: #4594f6;
  border-color: #cecece;
  border-radius: 24px;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em 0;
}
.quantity {
  position: relative;
  max-width: 120px;
}
.quantity label {
  font-size: 12px;
  display: block;
  line-height: 1;
  margin-bottom: 3px;
}

.qty-box {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 20px;
  transition: 0.5s;
  position: relative;
}

.qty-box input {
  width: 100%;
  border-width: 0;
  width: 60px;
  padding: 10px 0;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: textfield;
  text-align: center;
  font-weight: 600;
  color: #000;
  display: inline-block;
  background-color: transparent;
}
