.page-title-area {
    background-color: #030303;
    padding-top: 200px;
    padding-bottom: 130px;
    text-align: center;
    position: relative;
  }
  .page-title-area img {
    position: absolute;
    left: 0;
    right: 0;
    top: 87px;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    opacity: 0.2;
  }
  .page-title-area .page-title-content {
    position: relative;
  }
  .page-title-area .page-title-content h2 {
    font-weight: 600;
    font-size: 38px;
    color: #fff;
    margin-bottom: 14px;
  }
  .page-title-area .page-title-content ul {
    margin: 0;
    padding: 0;
  }
  .page-title-area .page-title-content ul li {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    font-size: 15px;
  }
  .page-title-area .page-title-content ul li a {
    color: #ff8310;
  }
  .page-title-area .page-title-content ul li a:hover {
    color: #ff8310;
  }
  .page-title-area .page-title-content ul li i {
    display: inline-block;
    font-size: 22px;
    position: relative;
    top: 4px;
  }